<% include ./partials/header.ejs %>
<div class="max-w-5xl mx-auto mt-10">
	<!-- Masonry Layout -->
	<div class="columns-1 sm:columns-2 lg:columns-4 gap-4 space-y-4">
		<% user.posts.forEach((elem) => { %>
		<div
			class="break-inside-avoid overflow-hidden rounded-lg shadow-sm hover:shadow-md transition-shadow duration-300">
			<a
				href="/images/uploads/<%= elem.image %>"
				target="_blank"
				rel="noopener noreferrer">
				<img
					src="/images/uploads/<%= elem.image %>"
					alt="<%= elem.imageTitle%>"
					class="w-full object-cover rounded-lg"
					 />
			</a>

			<% if (elem.imageDesc) { %>
			<div class="p-3 text-sm text-gray-700"> <%= elem.imageDesc %> </div>
			<% } %>
		</div>
		<% }) %>
	</div>
</div>

<% include ./partials/footer.ejs %>
